@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

:root {
    --bg-main: #1E1E1E;
    --bg-navbar: #252525;
    --text-main: #F5F5F5;
    --text-secondary: #CCCCCC;
    --accent-violet: #9B59B6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 65px 30px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-main);
    margin-bottom: 0.5em;
}

.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-navbar);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
}

nav{
    height: auto !important;
    line-height: normal;
    padding: 10px 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.identity h1 {
    font-size: 1.4rem;
    color: var(--text-main);
    margin: 0;
}

.identity h2 {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin: 0;
}

.center a {
    margin: 0 12px;
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}


.center a:hover {
    color: var(--accent-violet);
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right i {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right i::before {
    vertical-align: middle;
}

.right a:hover {
    color: var(--accent-violet);
}

/* Desktop */
.burger, .mobile-menu {
    display: none;
}

.pagination-dots {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
    .center, .right {
        display: none;
    }

    .burger {
        display: block;
        font-size: 26px;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background: var(--bg-navbar) !important;
        padding: 20px;
        position:fixed;
        top: 65px;
        left: 0;
        right: 0;
        z-index: 2000;

        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .mobile-menu.open {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .mobile-menu a {
    color: var(--text-main);
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2rem;
    }

    .mobile-icons{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .mobile-icons a{
        font-size: 20px;
    }

    .sections-container{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .section {
        flex: 0 0 100%;
        height: 100%;
        scroll-snap-align: start;
        padding: 10px;
        background: var(--bg-main);
        color: var(--text-main);
        display: flex;
        align-items: center;
    }

    .sections-container::-webkit-scrollbar {
        display: none;
    }

    .pagination-dots {
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 9999;

        padding: 8px 16px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--text-secondary);
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    .dot.active {
        background: var(--accent-violet);
        transform: scale(1.2);
    }
}

.about-text{
    font-size: 1.2rem;
}

.skills {
    width: 100%;
    max-width: 400px;
    list-style: none;
    padding: 0;
    margin:  0 20px;
}

.skills-section h4 {
    margin-bottom: 40px;
}

.skills li {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
}

.skills span {
    min-width: 90px;
}

.bar {
    flex: 1;
    height: 10px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: var(--accent-violet);
    border-radius: 10px;
    transition: width 0.4s ease;
}

.skills-section h5 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 25px 0 15px;
    color: var(--text-main);
    margin-bottom: 25px;
}

.first-list{
    margin-bottom: 60px;
}